{{ partial "head.html" .}}
{{ partial "nav.html" .}}

<main class="container">
    <aside>
        {{ .TableOfContents }}
    </aside>
    {{ .Content }}
    <aside>
        {{ .TableOfContents }}
    </aside>
</main>
		
{{ partial "foot.html" .}}