<!doctype html>
<html>
	<head>
		<!-- Includes non-visible  content -->
		<title>DAMLA'S FABLAB-DIGITAL FABRICATION COURSE PORTFOLIO</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width"> 
		<!-- This makes the webpage size adapt the device width -->
		<link rel="stylesheet" href = "{{ .Site.BaseURL }}/assets/css/bootstrap.min.css">

		<style> 
			img {
				width: 75%;
			}
			
		</style>
	</head>
    <body>
		<header class="container py-5">
			<h1 class="display-3">{{ .Site.Title}}</h1>
		</header>
