<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" 
            href="{{ .Site.BaseURL }}">
            Main Page
        </a>
        <button class="navbar-toggler" 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarMain">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ .Site.BaseURL }}/about">
                        About Me
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ .Site.BaseURL }}/final-project">
                        Final Project
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ .Site.BaseURL }}/sandbox.html">
                        Sandbox for plain HTML
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ .Site.BaseURL }}/notebook">
                        Notebook
                    </a>
                </li>
         

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="{{ .Site.BaseURL }}/assignments"
                        id="navbarAssignments"
                        role="button"
                        data-bs-toggle="dropdown">
                        Assignments
                    </a>
                    <div class="dropdown-menu">
                        {{ with .Site.GetPage "/assignments" }}
                            {{ range .Pages }}
                            <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>