{{ partial "head.html" .}}
{{ partial "nav.html" .}}

<main class="container">
    {{ .Content }}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="">
                <img class="card-img-top"
                src="{{ .Site.BaseURL}}/final-project/FinalProjectSketch.jpg"
                alt="FinalProjectSketch"
                >
            </div>
        </div>
    </div>
</main>
		
{{ partial "foot.html" .}}
